@model IEnumerable<Todo.Webapp.Models.Tasks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TaskId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
            </td>
        </tr>
    }

</table>
<div class="bs-example" data-example-id="disabled-active-pagination">
    <nav aria-label="...">
        <ul class="pagination">

            <li class="@(((int)ViewBag.CurentPage==1)? "disabled" : " ")"><a href="/Tasks/Index/@(ViewBag.CurentPage-1)" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            @for (int i = 1; i <= @ViewBag.PageCount + 1; i++)
            {
                <li class="@(((int)ViewBag.CurentPage==i)? "active" : " ")"><a href="/Tasks/Index/@i" onclick="Page(@i)">@i <span class="sr-only">(current)</span></a></li>
            }

            <li class="@(((int)ViewBag.CurentPage>ViewBag.PageCount)? "disabled" : " ")"><a href="/Tasks/Index/@(ViewBag.CurentPage+1)" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
</div>
<script>
    $(document).ready(function Page(CurentPage) {
        $("#CurentPage").val(CurentPage)
        //jQuery methods go here
    });
</script>